.card-custom {
  border: 1px solid rgb(200, 200, 200);
}

.card-title, .card-text {
  color: rgb(0, 0, 0);
}

button {
  background-color: rgb(141, 68, 219);
  color: white;
  border: none;
}

button:hover {
  background-color: rgb(123, 58, 198);
}
