<header><app-customer-navbar></app-customer-navbar></header>

<!-- Wishlist Section -->
<div class="container mt-4">
  <div class="row">
    <!-- Wishlist Icon Button -->
    <div class="col-12">
      <button class="icon-btn" style="background-color: rgb(141, 68, 219); border: none; padding: 10px; border-radius: 5px;">
        <i class="bi bi-heart-fill fs-4" style="color: white;"></i>
      </button>
    </div>
    
    <!-- Wishlist Items List (If any items are added) -->
    <div class="col-12 mt-4">
      <h3>Your Wishlist</h3>
      <div *ngIf="wishlistItems.length === 0">
        <p>No items in wishlist</p>
      </div>
      <div *ngIf="wishlistItems.length > 0">
        <ul class="list-group">
          <li *ngFor="let item of wishlistItems" class="list-group-item">
            <h5>{{ item.name }}</h5>
            <p>{{ item.description }}</p>
            <button class="btn btn-outline-danger" (click)="removeFromWishlist(item)">
              Remove from Wishlist
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
