<header><app-customer-navbar></app-customer-navbar></header>
<div class="container-fluid mt-5">
  
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
      </div>
      <div class="card shadow-lg p-4 mb-5" style="border-radius: 15px; background-color: #f8f9fa;">
        <h2 class="text-center mb-4" style="font-family: 'Arial', sans-serif; color: #8D44DB; font-weight: 700;">Checkout</h2>
        
        <table class="table table-hover w-100">
          <thead>
            <tr>
              <th class="text-center">Payment Method</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center">Credit Cards</td>
              <td class="text-center">
                <button class="btn btn-primary btn-block" (click)="processPayment()">Pay</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">Debit Cards</td>
              <td class="text-center">
                <button class="btn btn-primary btn-block" (click)="processPayment()">Pay</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">Net Banking</td>
              <td class="text-center">
                <button class="btn btn-primary btn-block" (click)="processPayment()">Pay</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">UPI (Google Pay, PhonePe, etc.)</td>
              <td class="text-center">
                <button class="btn btn-primary btn-block" (click)="processPayment()">Pay</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">Wallets (Paytm, MobiKwik, etc.)</td>
              <td class="text-center">
                <button class="btn btn-primary btn-block" (click)="processPayment()">Pay</button>
              </td>
            </tr>
            <tr>
              <td class="text-center">Cash on Delivery (COD)</td>
              <td class="text-center">
                <button class="btn btn-secondary btn-block" (click)="processPayment()">Pay on Delivery</button>
              </td>
            </tr>

          </tbody>
        </table>

        
      </div>
    </div>
  </div>
</div>
